# NPM & Yarn
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Laravel 5 & Lumen specific
/vendor
/public/storage
/public/hot
/storage/*.key
/storage/debugbar
/test-coverage
/resources/views/custom/*
/dist
.env
.env.backup
.phpunit.result.cache

# Homestead deployment. https://laravel.com/docs/master/homestead
Homestead.yaml
Homestead.json

# Vagrant
.vagrant/

# Development & editor stuff
.idea/
.vscode/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
