* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Prevent this folders / files to be archived into a tar or zip ball.
/.github            export-ignore
/utils              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.styleci.yml       export-ignore
