# NPM & Yarn
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Laravel 5 & Lumen specific
/vendor
/public/storage
/storage/*.key
/storage/debugbar
/resources/views/custom/*
/.tmp
.env
.phpunit.result.cache

# Homestead deployment. https://laravel.com/docs/master/homestead
Homestead.yaml
Homestead.json

# Vagrant
.vagrant/

# Development & editor stuff
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# hugo build
.hugo_build.lock
/docs/public
