version: '3'

volumes:
  dbdata:
    driver: local

services:

### APP: Application server #########################################
    app:
      build:
        context: ./
        dockerfile: docker/app/Dockerfile
        args:
          - DOCKER_PROBIND_UID=${DOCKER_PROBIND_UID:-1000}
      working_dir: /var/www
      volumes:
        - ./:/var/www
      environment:
        DB_HOST: database
        REDIS_HOST: redis
        DB_DATABASE: laravel
        DB_USERNAME: laravel
        DB_PASSWORD: secret
      ports:
        - "9000:9000"
      depends_on:
        - database

### WEB: Web server #################################################
    web:
      build:
        context: ./
        dockerfile: docker/web/Dockerfile
        args:
          - DOCKER_PROBIND_UID=${DOCKER_PROBIND_UID:-1000}
      volumes:
        - ./:/var/www:ro
      ports:
        - "80:80"
      depends_on:
        - app

### DATABASE: Database server #############################################
    database:
      image: mysql:5
      volumes:
            - dbdata:/var/lib/mysql
      environment:
        MYSQL_ROOT_PASSWORD: verysecret
        MYSQL_DATABASE: laravel
        MYSQL_USER: laravel
        MYSQL_PASSWORD: secret
      ports:
        - "3306:3306"


